<div class="panel panel-default">
    <div class="panel-heading">Job (#{{ vm.job.id }})</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Description</dt>
            <dd>{{ vm.job.description }}</dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>Status</dt>
            <dd>{{ vm.job.status == 0 ? 'Open' : 'Closed' }}</dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>Assignee</dt>
            <dd ng-if="vm.job.user"><a ui-sref="users.view({id: vm.job.user.id})">{{ vm.job.user.name + ' / ' + vm.job.user.email}}</a></dd>
            <dd ng-if="!vm.job.user">None <a ui-sref="jobs.edit({id: vm.job.id})">(assign)</a> </dd>
        </dl>
    </div>
</div>